/*CENG311 Activity 2 css file*/

/*styling for the table goes here*/
body 
{
	width: 620px;
	margin: 0 auto;
	border: 2px solid black;
}
table { 
	
	border-collapse: collapse;
	border: 1px solid black;
	margin: 20px;
}



thead 
{
	background-color: yellow;
}


th, td 
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

.right 
{
	text-align: right;
	background-color : yellow;
	
}


.white 
{
	text-align: right;
	background-color : white;
	
}

tbody tr:nth-child(even) td 
{
	background-color: yellow;
}

